.gameSquare {
	float:left;
	border:1px solid green;
	border-radius:20%;
	background-color:tan;
}

.wall {
	background-color:gray;
	border-color:black;
}

.apple {
	background-color:red;
	border-color:brown;
}

.snake {
	background-color:green;
	border-color:green;
}

.head {
	border-color:yellow;
}
